.collection-detail-grid-section {
    background: var(--color-surface-1);
    flex: 1;
}

.collection-detail-grid-inner {
    margin: 0 auto;
    max-width: var(--max-width-content);
    padding: var(--spacing-layout);
    position: relative;
    width: 100%;
}

.collection-detail-grid-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
