.collections-grid-section {
    background: var(--color-surface-1);
    flex: 1;
}

.collections-grid-inner {
    margin: 0 auto;
    max-width: var(--max-width-content);
    padding: var(--spacing-layout);
    position: relative;
    width: 100%;
}

.collections-grid-list {
    display: grid;
    gap: 3rem;
    grid-template-rows: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.collections-grid-list .media-card-media {
    aspect-ratio: 18 / 6;
    transition: var(--transition-aspect-ratio);
}

@media (max-width: 880px) {
    .collections-grid-list .media-card-media {
        aspect-ratio: 5 / 4;
    }
}
