.latest-collection-inner {
    padding: var(--spacing-layout);
}

.latest-collection-header {
    color: var(--color-text-heading);
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    margin: 0;
    padding: var(--spacing-heading-vertical) 0;
}

.latest-collection-feature {
    padding: 2rem 0;
}

@media (max-width: 400px) {
    .latest-collection-header {
        font-size: var(--font-size-heading-mobile);
    }
}
