.latest-collection-inner {
    padding: var(--spacing-layout);
}

.latest-collection-header {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

.latest-collection-feature {
    padding: 2rem 0;
}

@media (max-width: 400px) {
    .latest-collection-header {
        font-size: var(--font-size-1-mobile);
    }
}
