.artwork-detail-information-section {
    background: var(--color-surface-1);
    flex: 1;
}

.artwork-detail-information-inner {
    margin: 0 auto;
    max-width: var(--max-width-content);
    padding: var(--spacing-layout);
    position: relative;
    width: 100%;
}

.artwork-detail-information-eyebrow {
    color: var(--color-text-accent-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-0);
    text-transform: uppercase;
}

.artwork-detail-information-title {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

.artwork-detail-information-description {
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    margin: 0;
    padding: var(--spacing-body-vertical) 0;
}

.artwork-detail-information-collection a {
    color: var(--color-text-base-1);
    font-family: var(--font-size-default);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
    transition: var(--transition-opacity);
}

.artwork-detail-information-collection a:hover {
    opacity: var(--opacity-hover);
}

.artwork-detail-information-collection a:active {
    opacity: var(--opacity-active);
}

@media (max-width: 1000px) {
    .artwork-detail-information-layout {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media (max-width: 400px) {
    .artwork-detail-information-title {
        font-size: var(--font-size-1-mobile);
    }
}