.hamburger-button {
    align-items: center;
    border: none;
    border-radius: var(--border-radius-0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1rem;
    transition: var(--transition-background);
}

.hamburger-button:hover {
    background: var(--color-background-control-hover-1);
}

.hamburger-button:active {
    background: var(--color-background-control-active-1);
}

.hamburger-button-icon {
    color: var(--color-icon-control);
}
