.artworks-intro-section {
    background: var(--color-surface-0);
}

.artworks-intro-inner {
    padding: var(--spacing-layout);
}

.artworks-intro-header {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

.artworks-intro-body {
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    margin: 0;
    padding: var(--spacing-body-vertical) 0;
}

@media (max-width: 400px) {
    .artworks-intro-header {
        font-size: var(--font-size-1-mobile);
    }
}
