.feature-card-icon svg {
    color: #73CCFF;
}

.feature-card-text {
    padding: 0rem 0;
}

.feature-card-title {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

.feature-card-description {
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0;
}
