.latest-collection-card {
    background: var(--color-surface-1);
    border-radius: var(--border-radius-1);
    overflow: hidden;
}

.latest-collection-card a {
    text-decoration: none;
}

.latest-collection-card:hover {
    cursor: pointer;
}

.latest-collection-card-image {
    aspect-ratio: 18 / 6;
    overflow: hidden;
}

.latest-collection-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-opacity), var(--transition-transform);
}

.latest-collection-card:hover .latest-collection-card-image img {
    opacity: var(--opacity-hover);
    transform: scale(1.125);
}

.latest-collection-card:active .latest-collection-card-image img {
    opacity: var(--opacity-active);
    transform: scale(1.25);
}

.latest-collection-card-text {
    padding: 2rem;
    transition: var(--transition-opacity);
}

.latest-collection-card:hover .latest-collection-card-text {
    opacity: var(--opacity-hover);
}

.latest-collection-card:active .latest-collection-card-text {
    opacity: var(--opacity-active);
}

.latest-collection-card-title {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: var(--spacing-subheading-vertical) 0;
}

.latest-collection-card-subtitle {
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0;
}

@media (max-width: 480px) {
    .latest-collection-card-image {
        aspect-ratio: 16 / 8;
    }
}
