.media-card a {
    text-decoration: none;
}

.media-card--interactive:hover {
    cursor: pointer;
}

.media-card-image {
    overflow: hidden;
    width: 100%;
}

.media-card--radius-0 .media-card-image {
    border-radius: var(--border-radius-0);
}

.media-card--radius-1 .media-card-image {
    border-radius: var(--border-radius-1);
}

.media-card-image img {
    display: block;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-opacity), var(--transition-transform);
    width: 100%;
}

.media-card--interactive:hover .media-card-image img {
    opacity: var(--opacity-hover);
    transform: scale(1.125);
}

.media-card--interactive:active .media-card-image img {
    opacity: var(--opacity-active);
    transform: scale(1.25);
}

.media-card-text {
    padding: 1rem 0;
    transition: var(--transition-opacity);
}

.media-card--interactive:hover .media-card-text {
    opacity: var(--opacity-hover);
}

.media-card--interactive:active .media-card-text {
    opacity: var(--opacity-active);
}

.media-card-title {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

.media-card-meta {
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0;
}
