:root {
    --color-brand-0: #73CCFF;
    --color-brand-1: #7386FF;

    --color-surface-0: #F7F8FA;
    --color-surface-1: #FCFDFF;

    --color-background-control-default: #F2F3F5;
    --color-background-control-hover: #EDEEF0;
    --color-background-control-active: #E8E9EB;

    --color-background-navigation-current: #F2F3F5;
    --color-background-navigation-hover: #EDEEF0;
    --color-background-navigation-active: #E8E9EB;

    --color-border: #DEE0E3;

    --color-icon-control: #30343D;

    --color-text-base-0: #0D0E0F;
    --color-text-base-1: #1B1C1F;
    --color-text-base-2: #23272E;
    --color-text-base-3: #30343D;
    --color-text-base-4: #3C414D;

    --color-text-accent-0: #73CCFF;

    --color-text-link: var(--color-text-base-0);
    --color-text-base-2: var(--color-text-base-2);

    --border: 1px solid var(--color-border);

    --border-radius-0: 10px;
    --border-radius-1: 50px;

    --font-family-base: "Inter", sans-serif;
    --font-family-brand: "Montserrat", sans-serif;

    --font-size-0: 5rem;
    --font-size-1: 2rem;
    --font-size-2: 1.5rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: 0.875rem;

    /* Media query-based font sizes */
    --font-size-0-mobile: 4.75rem;
    --font-size-1-mobile: 1.75rem;
    --font-size-2-mobile: 1.25rem;

    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --letter-spacing-0: 0.25rem;

    --line-height-base: 2;

    --height-navbar: 5rem;
    --height-drawer-navigation-item: 5rem;

    --width-navbar-item-default: 8rem;
    --width-navbar-item-mobile: 5rem;

    --spacing-layout: 2rem;
    --spacing-control: 1rem;

    --spacing-control-vertical: 0.5rem;
    --spacing-control-horizontal: 0.75rem;
    --spacing-drawer-navigation-horizontal: 2rem;

    --opacity-hover: 0.75;
    --opacity-active: 0.5;

    --transition-duration: 0.25s; 
    --transition-background: background-color var(--transition-duration) ease-in-out;
    --transition-opacity: opacity var(--transition-duration) ease-in-out;
    --transition-transform: transform var(--transition-duration) ease-in-out;
}

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

.lucide {
    color: var(--color-icon-control);
}

html,
body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--color-surface-0);
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text-link);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

button {
    background: none;
    color: var(--color-text-base-2);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
}

h1 {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

h3 {
    color: var(--color-text-base-0);
    font-family: var(--font-family-base);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;
}

p {
    color: var(--color-text-base-1);
    font-family: var(--font-family-base);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0;
}
