:root {
    --color-brand-0: #73CCFF;
    --color-brand-1: #7386FF;

    --color-surface-0: #F7F8FA;
    --color-surface-1: #FCFDFF;

    --color-background-control-default: #F2F3F5;
    --color-background-control-hover: #EDEEF0;
    --color-background-control-active: #E8E9EB;

    --color-background-navigation-current: #F2F3F5;
    --color-background-navigation-hover: #EDEEF0;
    --color-background-navigation-active: #E8E9EB;

    --color-border-ui: #DEE0E3;

    --color-icon-control: #30343D;

    --color-text-0: #0D0E0F;
    --color-text-1: #1B1C1F;
    --color-text-2: #23272E;
    --color-text-3: #30343D;
    --color-text-4: #3C414D;

    --color-text-logo: var(--color-text-0);
    --color-text-title: var(--color-text-0);
    --color-text-subtitle: var(--color-text-0);
    --color-text-heading: var(--color-text-0);
    --color-text-subheading: var(--color-text-1);
    --color-text-body: var(--color-text-2);
    --color-text-ui: var(--color-text-3);

    --border-ui: 1px solid var(--color-border-ui);

    --border-radius-ui: 12px;

    --font-family-default: 'Inter', sans-serif;
    --font-family-brand: 'Montserrat', sans-serif;

    --font-size-logo: 1.25rem;
    --font-size-title: 5rem;
    --font-size-subtitle: 2rem;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.5rem;
    --font-size-body: 1rem;
    --font-size-ui: 1rem;
    --font-size-link: 1rem;

    --font-size-title-mobile: 4.75rem;
    --font-size-heading-mobile: 1.75rem;
    --font-size-subheading-mobile: 1.25rem;

    --font-size-0: 1rem;
    --font-size-1: 1.2rem;
    /*
    Add more font size variables later
    --font-size-2: ;
    --font-size-3: ;
    */

    --font-size-logo: var(--font-size-1);
    /*
    Add more font size variables later
    --font-size-title: var();
    --font-size-heading: var();
    --font-size-subheading: var();
    */
    --font-size-body: var(--font-size-0);
    --font-size-ui: var(--font-size-0);

    --font-weight-body: 400;
    --font-weight-logo: 700;

    --line-height-default: 1.2;

    --height-navbar: 5rem;
    --height-drawer-navigation-item: 5rem;

    --width-navbar-item-default: 8rem;
    --width-navbar-item-mobile: 5rem;

    --spacing-0: 0.25rem;
    --spacing-1: 0.5rem;
    --spacing-2: 0.75rem;
    --spacing-3: 1rem;
    --spacing-4: 1.25rem;
    --spacing-5: 1.5rem;
    --spacing-6: 1.75rem;
    --spacing-7: 2rem;
    --spacing-8: 5rem;
    /* Add more spacing (padding) variables later */
    --spacing-layout: 1rem;
    --spacing-heading-vertical: 2rem;
    --spacing-subheading-vertical: 1rem;
    --spacing-section-title-vertical: 1rem;
    --spacing-paragraph-vertical: 2rem;
    --spacing-quote: 2rem;
    --spacing-link-vertical: 1rem;
    --spacing-control: 1rem;

    --spacing-control-vertical: var(--spacing-1);
    --spacing-control-horizontal: var(--spacing-2);
    --spacing-navbar-horizontal: var(--spacing-3);
    --spacing-drawer-navigation-horizontal: var(--spacing-7);

    --transition-background: background-color 0.2s ease-in-out;
    --transition-opacity: opacity 0.2s ease-in-out;
    --transition-transform: transform 0.2s ease-in-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.lucide {
    color: var(--color-icon-control);
}

html,
body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--color-surface-0);
    color: var(--color-text-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text-link-default);
    font-family: var(--font-family-default);
    font-size: var(--font-size-link);
    font-weight: var(--font-weight-link);
    text-decoration: underline;
}

button {
    background: none;
    font-family: var(--font-family-default);
    font-size: var(--font-size-0);
}

h1,
h2,
h3 {
    color: var(--color-text-heading);
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    margin: 0;
}